.app-content-tile {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.app-msg {
    padding: 10px 10px 15px 10px;
    font-size: 19px;
    font-weight: bold;
    color: red;
}
